body{
    background-color: #636363;
}

.container{
    
}

.container .titleDashboard h1{
    color: white;
    font-size: 5rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}