.nav-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-bottom {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    z-index: 8;
  }
  
  .nav-bottom-left {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .nav-bottom-right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .nav-wrapper .nav-top .menu .d-inline-flex button, .search button, .nav-bottom .nav-bottom-left .favorites button, .user button, .nav-bottom .nav-bottom-right .home button, .maps button, .mobile-category, .mobile-modal{
    padding: 10px 15px;
    font-size: 1.3rem;
    border-radius: 50%;
    background-color: #FF9E58;
    color: black;
    border: #FF9E58;
  }

  .nav-wrapper .nav-top .menu .d-inline-flex button:hover, .search button:hover, .nav-bottom .nav-bottom-left .favorites button:hover, .user button:hover, .nav-bottom .nav-bottom-right .home button:hover, .maps button:hover, .mobile-category:hover, .mobile-modal:hover{
    background-color: #d37c3e;
    color: black;
  }

.multi-collapse {
  position: fixed;
  top: 3rem; 
  left: 0;
  width: 250px; 
  z-index: 1000;
  overflow-y: hidden;
  padding: 0 1rem;
  box-sizing: border-box;
}

.multi-collapse .titleCategory {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0.5rem;
}

.multi-collapse .titleCategory h4 {
  color: black;
  text-transform: uppercase;
  font-weight: 900;
  margin: 0;
  text-align: center;
}

.multi-collapse .card {
  background-color: #fff;
  padding: 0;
  height: 450px;
}

.category-list {
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.2rem;
  letter-spacing: 0.4px;
}

.category-list .category-item {
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-list .category-item:hover {
  background-color: #f5f5f5;
}

.category-list .category-item.active {
  background-color: #FF9E58;
  color: black;
}

form.d-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search {
  position: relative;
  display: flex;
  flex-direction: row-reverse; 
  align-items: center;
}

.search-input {
  width: 200px; 
  opacity: 0;
  padding: 10px 15px;
  border: none;
  background-color: #FF9E58;
  color: black;
  transform: scaleX(0);
  transform-origin: right; 
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.search.active .search-input {
  opacity: 1;
  transform: scaleX(1);
}

.search-icon {
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  transform: translateY(0);
}
.search:not(.active) .search-icon {
  transition-delay: 0.3s;
}

.search.active .search-icon {
  position: absolute;
  right: 0.75rem; /* Alinea con el padding derecho del input */
  opacity: 1; /* Se mantiene visible */
  pointer-events: auto;
  transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}

.search.active .buttonSearch{
  border-radius: 0;
  z-index: 2;
  background-color: #FF9E58;
  color: black;
  padding: 0;
}

.search .buttonSearch:active, .user .btn:active, .maps .btn:active, .btn:active {
  background-color: #d37c3e !important;
  color: black !important;
}

.search .search-input:focus{
  background-color: #FF9E58;
  box-shadow: none;
}

.search .search-input{
  font-size: .9rem;
  font-weight: 800;

}

.search .search-input::placeholder{
  color: #4b4b4b;
  font-size: .9rem;
  font-weight: 800;
  text-transform: uppercase;
}

.noResults{
  width: 100%;
  background-color: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noResults p{
  margin-top: 1rem;
  text-align: center;
  font-weight: 800;

}

.copyright{
  padding-top: 2rem;
}

.textCopyright{
  font-size: 1.7rem;
  color: white;
  font-weight: 600;
  text-align: center;
}

.mobile-nav{
  display: none;
}

@media (min-width: 430px) and (max-width: 580px){

  .nav-wrapper .nav-top .menu .d-inline-flex{
    margin-bottom: 0rem;
  }
  .copyright .textCopyright{
    padding: 0px 1rem;
    font-size: 1.2rem;
  }

  .nav-bottom{
    padding: 0;
  }

  .nav-wrapper .nav-top .menu .d-inline-flex button, .nav-wrapper .nav-top,  .nav-bottom .nav-bottom-left .favorites button, .user button, .nav-bottom .nav-bottom-right .home button, .maps button{
    display: none;
  }

  .mobile-nav{
    display: flex;
    justify-content: space-between;
  }

  .search-input{
    width: 100%;
  }

  .btnMobiles{
    width: 100%;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    text-align: start;
  }

  .btnMobiles:hover, .btnMobiles:focus-visible{
    text-decoration: underline;
    background-color: #d37c3e;
    color: black;
    box-shadow: none;
  }

  .modal-dialog{
    padding: 0.5rem;
  }

  .modal {
    align-content: center;
  }

  .modal-footer .mobileLogout{
    font-size: .9rem;
    height: 2.5rem;
    width: 100%;
  }
}

@media (min-width: 350px) and (max-width: 429px){
  .nav-wrapper .nav-top .menu .d-inline-flex{
    margin-bottom: 0rem;
  }
  .copyright .textCopyright{
    padding: 0px 1rem;
    font-size: 1.2rem;
  }

  .nav-bottom{
    padding: 0;
  }

  .nav-wrapper .nav-top .menu .d-inline-flex button, .nav-wrapper .nav-top,  .nav-bottom .nav-bottom-left .favorites button, .user button, .nav-bottom .nav-bottom-right .home button, .maps button{
    display: none;
  }

  .mobile-nav{
    display: flex;
    justify-content: space-between;
  }

  .search-input{
    width: 100%;
  }

  .btnMobiles{
    width: 100%;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    text-align: start;
  }

  .btnMobiles:hover, .btnMobiles:focus-visible{
    text-decoration: underline;
    background-color: #d37c3e;
    color: black;
    box-shadow: none;
  }

  .modal-dialog{
    padding: 0.5rem;
  }

  .modal {
    align-content: center;
  }

  .modal-footer .mobileLogout{
    font-size: .9rem;
    height: 2.5rem;
    width: 100%;

  }
}

@media (min-width: 250px) and (max-width: 349px){
  .nav-wrapper .nav-top .menu .d-inline-flex{
    margin-bottom: 0rem;
  }
  .copyright .textCopyright{
    padding: 0px 1rem;
    font-size: 1.2rem;
  }

  .nav-bottom{
    padding: 0;
  }

  .nav-wrapper .nav-top .menu .d-inline-flex button, .nav-wrapper .nav-top,  .nav-bottom .nav-bottom-left .favorites button, .user button, .nav-bottom .nav-bottom-right .home button, .maps button{
    display: none;
  }     

  .mobile-nav{
    display: flex;
    justify-content: space-between;
  }

  .search-input{
    width: 100%;
  }

  .btnMobiles{
    width: 100%;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    text-align: start;
  }

  .btnMobiles:hover, .btnMobiles:focus-visible{
    text-decoration: underline;
    background-color: #d37c3e;
    color: black;
    box-shadow: none;
  }

  .modal-dialog{
    padding: 0.5rem;
  }

  .modal {
    align-content: center;
  }

  .modal-footer .mobileLogout{
    font-size: .9rem;
    height: 2.5rem;
    width: 100%;

  }
}


@media (max-width: 249px){
  .nav-wrapper .nav-top .menu .d-inline-flex{
    margin-bottom: 0rem;
  }
  .copyright .textCopyright{
    padding: 0px 1rem;
    font-size: 1.2rem;
  }

  .nav-bottom{
    padding: 0;
  }

  .nav-wrapper .nav-top .menu .d-inline-flex button, .nav-wrapper .nav-top,  .nav-bottom .nav-bottom-left .favorites button, .user button, .nav-bottom .nav-bottom-right .home button, .maps button{
    display: none;
  }

  .mobile-nav{
    display: flex;
    justify-content: space-between;
  }

  .search-input{
    width: 100%;
  }

  .btnMobiles{
    width: 100%;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 1.2rem;
    border: none;
    text-align: start;
  }

  .btnMobiles:hover, .btnMobiles:focus-visible{
    text-decoration: underline;
    background-color: #d37c3e;
    color: black;
    box-shadow: none;
  }

  .modal-dialog{
    padding: 0.5rem;
  }

  .modal {
    align-content: center;
  }

  .modal-footer .mobileLogout{
    font-size: .9rem;
    height: 2.5rem;
    width: 100%;

  }
}